:root {
	/* Colors */
	--clr-primary-violet: hsl(257, 40%, 49%);
	--clr-primary-magenta: hsl(300, 69%, 71%);

	--clr-white: #ffffff;

	/* Typography */
	--ff-primary: 'Open Sans', sans-serif;
	--ff-secondary: 'Poppins', sans-serif;

	--fs-primary: 16px;

	--fw-regular: 400;
	--fw-bold: 600;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

body {
	background-color: var(--clr-primary-violet);
	font-family: var(--ff-primary);
	color: var(--clr-white);
	font-weight: var(--fw-regular);
}

.huddle__header {
	padding: 2rem;
}

.header__logo {
	height: 2rem;
}

.hero__background {
	position: absolute;
	top: 0;
	z-index: -1;
}

.hero__mockup {
	z-index: 2;
	margin-bottom: 4rem;
}

.hero__content {
	text-align: center;
	padding: 2rem;
}

.hero__title {
	font-weight: var(--fw-bold);
	font-family: var(--ff-secondary);
	margin-bottom: 1rem;
}

.hero__text {
	margin-bottom: 1.5rem;
}

.hero__btn {
	border-radius: 10rem;
	border: none;
	width: 14rem;
	height: 2.7rem;
	color: var(--clr-primary-violet);
	font-size: 0.9rem;
	margin-bottom: 3rem;
	box-shadow: 3px 11px 18px -4px rgba(0, 0, 0, 0.489);
}

.hero__btn:hover {
	background-color: var(--clr-primary-magenta);
	color: var(--clr-white);
	cursor: pointer;
}

.footer__socials {
	list-style: none;
	margin-bottom: 2rem;
	text-align: center;
	padding-right: 2rem;
}

.footer__socials li {
	display: inline-block;
}

.footer__icon {
	color: var(--clr-white);
	border: 1px solid var(--clr-white);
	border-radius: 50%;
	padding: 0.5rem;
	width: 2rem;
	height: 2rem;
}

.footer__icon:hover {
	cursor: pointer;
	color: var(--clr-primary-magenta);
	border-color: var(--clr-primary-magenta);
}

@media (min-width: 1440px) {
	.huddle__header {
		padding: 4rem;
	}

	.header__logo {
		height: 3.7em;
	}

	.hero__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 140px 120px 120px 120px;
		padding: 1rem 4rem;
		column-gap: 3rem;
	}

	.hero__title {
		grid-column: 2;
		/* border: solid 3px red; */
		grid-row: 1;
		font-size: 2.5rem;
		text-align: start;
	}

	.hero__text {
		/* border: solid 3px green; */
		grid-column: 2;
		text-align: start;
		font-size: 1.29rem;
		grid-row: 2;
	}

	.hero__btn {
		grid-column: 2;
		grid-row: 3;
		font-size: 1.3rem;
		height: 3.5rem;
		width: 13rem;
	}

	.footer__socials {
		text-align: end;
		padding-right: 4rem;
	}

	.footer__icon {
		font-size: 1.25rem;
		height: 2.5rem;
		width: 2.5rem;
		text-align: center;
		margin-right: 1rem;
	}
}
